<main class="container mt-5">
  <div class="row">
    <div class="col-12"> 

 <header>
   <h1 class="mb-4 text-center"> {{user.user_name}}'s Plant Dashboard</h1>  
  </header>
  </div>
  <br>
  <div class="container">
  <div class="row justify-content-center">
{{#if user.plants}}
  
    {{#each user.plants as |plant|}}
      <div class="card col-4">
        <img src="{{plant.image_url}}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"> 
            Plant name: {{plant.common_name}} <br>
            Scientific Name: {{plant.scientific_name}}
          </p>
        </div>
      </div> 
    {{/each}}
  </div>
{{else}}
  <p>No plants Yet!</p>
{{/if}}
</div>
</div>



 
</main> 