<main class="container mt-5">
  <div class="row justify-content-center search-page-container">
    <div class="col-12">
      <header>
        <h1 class="mb-4 text-center">{{user.user_name}}'s Plant Dashboard</h1>
      </header>
    </div>
    <br>
    <div id="dashboard-container" class="row justify-content-center d-flex gap-3">
      {{#if user.plants}}
        {{#each user.plants as |plant|}}
          <div class="card col-4">
            <a href="/plant/{{plant.common_name}}">
            <img src="{{plant.image_url}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">{{plant.common_name}}</p>
              <p class="card-body">{{plant.scientific_name}}</p>
            </div>
            </a>
          </div>
        {{/each}}
      {{else}}
        <p>No plants Yet!</p>
      {{/if}}
    </div>
  </div>
</main>

<script src="/js/plant-delete.js"></script>
