<ul>
<li><img src="{{image_url}}"></li>
<li> name: {{common_name}}</li>
<li>Scientific name: {{scientific_name}}</li>

-
<li>The following don't work:
<li>Duration: {{duration}}</li>
<li>Observations: {{observations}}</li>
<li>Growth Habit: {{growth_habit}} (string)</li>
<li>Growth Rate: {{growth_rate}} (string)</li>
<li>Average Height: {{average_height}} (object)</li>
<li>Maximum Height: {{maximum_height}}</li>
</ul>